
.time{
  font-size: large;
 
}

.time > p{
 text-align: center;
}

#button-start {
  
  margin: auto;
  margin-top: 10px;
  font-weight: bolder;
  font-size: larger;
  
}

#button-pause, #button-stop
{
  width: 200px;
}



@media (max-width: 850px) {
  #button-start {
    width: 100%;
  }
 
   
}